@import './../reUsedStyles/importReUsedStyles.scss';
.containerToCentre {
    @extend .centreWithFlex;
    flex-direction: column;
}
.generalCartContainer {
    width: 60%;
    height: 100%;
    @extend .centreWithFlex;
    margin-bottom: 3%;
}
.cartItemsContainer {
    background-color: $darkColour;
    width: 100%;
    margin-top: 10%;
    display: grid;
    grid-template-columns: 100%;
    color: $lightColour;
    font-family: "OS-Regular";
    font-size: small;
    .itemInCartContainer {
        background-color: $darkColour;
        width: 100%;
        height: 35vh;
        display: grid;
        grid-template-columns: 40% 60%;
        border-color: $goldColour;
        border-radius: 10px;
        border-style: solid;
        border-width: 10px;
        border-bottom: none;
        padding-bottom: 3%;
        .componentAOfItemInCart {
            height: 35vh;
            @media screen and (max-width:610px) and (min-width: 380px) {
                
            }
            width: 100%;
            display: grid;
            grid-template-rows: 30% 70%;
            .titleOfItem {
                margin-left: 4%;
                margin-right: 4%;
                text-align: center;
                font-size: 80%;
                @extend .centreWithFlex;
            }
            .imageInCart {
                margin-left: 10%;
                margin-right: 10%;
                @extend .centreWithFlex;
            }
        }
        .componentBOfItemInCart {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .pricingAndButttons {
                margin-right: 10%;
                width: 100%;
                display: grid;
                grid-template-columns: 30% 30% 40%;
                .quantityInCart {
                    font-family: "OS-Heavy";
                    font-size: 130%;
                    margin-left: 10%;
                }
                .itemPricing {
                    font-family: "OS-Heavy";
                    font-size: 130%;
                }
                .removeInCart {
                    background: $redColour;
                    font-family: "OS-Regular";
                    font-size: larger;
                    border-radius: 30px;
                    cursor: pointer;
                    margin-right: 10%;
                }
                > * {
                    margin-right: 40%;
                }
                @media screen and (max-width: 1250px) {
                    .removeInCart {
                        margin-right: 4%;
                        height: 60px;
                        font-size: 120%;
                    }
                }
            }
        }
    }
}
.imageInCart  {
    img {
    height: 100%;
    width: auto;
    }
}
.totalPricing {
    border-color: $goldColour;
    border-radius: 10px;
    border-style: solid;
    border-width: 10px;
    width: 100%;
    background-color: $darkColour;
    font-size: 130%;
    display: grid;
    grid-template-columns: 50% 50%;
    p {
        margin-left: 20%;
        margin-right: 4%;
    }
    .finalPrice {
        margin-left: 70%;
    }
    .backToHomeScreenContainer {
        @extend .centreWithFlex;
        .backToHomeScreen {
            text-decoration: none;
            width: 50%;
            font-family: "OS-Regular";
            font-size: small;
            position: relative;
            bottom: 0px;
            padding: 10px;
            margin-top: 15px;
            margin-bottom: 15px;
            margin-left: 30%;
            color: #000000;
            background: $redColour;
            border-radius: 30px;
            text-transform: uppercase;
            letter-spacing: 1px;
            text-align: center;
        }
    }
}
.cartItemsContainer .smallGoldButtonContainer {
    opacity: 1;
    margin-top: 2%;
    margin-bottom: 4%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .smallGoldButton {
        background: none;
        border: none;
        padding: 0;
        text-decoration: underline;
        cursor: pointer; 
        color: $goldColour;
        font-family: "OS-Regular";
        margin-right: 10%;
        font-size: medium;
    }
}
@media screen and (max-width: 900px) {
    .cartItemsContainer {
        .itemInCartContainer {
            display: flex;
            flex-direction: column;
            height: auto;
            .componentAOfItemInCart {
                padding-bottom: 5%;
                border-bottom: dotted;
                border-bottom-width: 2px;
                border-color: $goldColour;
            }
            .componentBOfItemInCart {
                padding-top: 4%;
                .pricingAndButttons {
                    margin-right: 1%;
                    margin-left: 4%;
                }
            }
        }
    }
}
@media screen and (max-width: 900px) {
    .totalPricing {
        .finalPrice {
            margin-left: 40%;
        }
    }
}
@media screen and (max-width: 660px) {
    .totalPricing {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        p {
            margin-right: 10%;
            width: 10%;
        }
        .finalPrice {
            width: 20%;
            margin-left: 30%;
        }
        .proceedToPayment {
            font-size: 100% !important;
        }
        .smallGoldButtonContainer {
            width: 90%;
            a {
                margin-right: 25% !important;
            }
            button {
                margin-right: 0 !important;
            }
        }
    }
}
@media screen and (max-width: 380px) {
    .componentAOfItemInCart {
        height: auto !important;
        display: flex !important;
        .imageInCart {
            display: none !important;
        }
    }
    .pricingAndButttons {
        display: flex !important;
        flex-wrap: wrap;
        .quantityInCart {
            margin-left: 1% !important;
            margin-right: 15% !important;
        }
        .itemPricing {
            margin-right: 1% !important;
        }
    }
    .totalPricing {
        justify-content: baseline;
        p {
            width: 30%;
            margin-left: 2% !important;
            margin-right: 10% !important;
        }
    }
}
.noImageInCartContainer {
    height: 20vh !important;
    padding-top: 3%;
    .pricingAndButttons {
        grid-template-columns: 5% 45% 50% !important;
    }
    @media screen and (max-width: 900px){
        height: 20vh !important;
        .pricingAndButttons {
            font-size: 80%;
            .itemPricing {
                margin-right: 0 !important;
                margin-left: 40% !important;
            }
        }
    }
    @media screen and (max-width: 500px){
        height: 15vh !important;
    }
    @media screen and (max-width: 380px) {
        .pricingAndButttons {
            display: grid !important;
            grid-template-columns: 5% 45% 50% !important;
        }
    }
    .noImageInCart {
        display: flex !important;
        @extend .centreWithFlex;
        height: auto !important;
        @media screen and (max-width: 480px){
            .titleOfItem {
                h1 {
                    font-size: 160%;
                }
            }
        }
        @media screen and (max-width: 420px){
            .titleOfItem {
                h1 {
                    font-size: 130%;
                }
            }
        }
        .titleOfItem {
            border-bottom: solid;
            border-bottom-width: 2px;
            border-color: $redColour;
            padding-right: 6%;
            padding-left: 6%;
            h1 {
                margin-bottom: 2%;
                margin-top: 2%;
            }
        }
    }
}
.purchaseInformation {
    p {
        @media screen and (max-width: 500px) {
            font-size: 80%;
            margin-left: 4%;
        }
    }
}
.nothingInCart {
    @extend .centreWithFlex;
    @media screen and (max-width: 630px) {
        p {
            margin-left: 1% !important;
            margin-right: 1% !important;
            @media screen and (max-width: 440px) {
                width: 70% !important;
                text-align: center;   
            }
        }
        div {
            a {
                @media screen and (max-width: 440px) {
                    margin-left: 0 !important;   
                }
            }
        }
    }
}