@import './../reUsedStyles/importReUsedStyles.scss';
.containerToCentre {
    @extend .centreWithFlex;
    flex-direction: column;
}
.generalCartContainer {
    width: 60%;
    height: 100%;
    @extend .centreWithFlex;
    margin-bottom: 3%;
}
.cartItemsContainer {
    background-color: $darkColour;
    width: 100%;
    margin-top: 10%;
    display: grid;
    grid-template-columns: 100%;
    color: $lightColour;
    font-family: "OS-Regular";
    font-size: small;
    .itemInCartContainer {
        background-color: $darkColour;
        width: 100%;
        height: 35vh;
        display: grid;
        grid-template-columns: 40% 60%;
        border-color: $goldColour;
        border-radius: 10px;
        border-style: solid;
        border-width: 10px;
        border-bottom: none;
        padding-bottom: 3%;
        .componentAOfItemInCart {
            height: 35vh;
            width: 100%;
            display: grid;
            grid-template-rows: 30% 70%;
            .titleOfItem {
                margin-left: 20%;
                margin-right: 20%;
                text-align: center;
                font-size: smaller;
                @extend .centreWithFlex;
            }
            .imageInCart {
                margin-left: 10%;
                margin-right: 10%;
                @extend .centreWithFlex;
            }
        }
        .componentBOfItemInCart {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .pricingAndButttons {
                margin-right: 10%;
                width: 50%;
                display: grid;
                grid-template-columns: 60% 40%;
                .itemPricing {
                    font-family: "OS-Heavy";
                    font-size: 150%;
                }
                .removeInCart {
                    background: $redColour;
                    font-family: "OS-Regular";
                    border-radius: 30px;
                    cursor: pointer;
                }
            }
        }
    }
}
.imageInCart  {
    img {
    height: 100%;
    width: auto;
    }
}
.totalPricing {
    border-color: $goldColour;
    border-radius: 10px;
    border-style: solid;
    border-width: 10px;
    width: 100%;
    background-color: $darkColour;
    font-size: 130%;
    display: grid;
    grid-template-columns: 50% 50%;
    p {
        margin-left: 20%;
    }
    .finalPrice {
        margin-left: 70%;
    }
    .backToHomeScreenContainer {
        @extend .centreWithFlex;
        .backToHomeScreen {
            text-decoration: none;
            width: 50%;
            font-family: "OS-Regular";
            font-size: small;
            position: relative;
            bottom: 0px;
            padding: 10px;
            margin-top: 15px;
            margin-bottom: 15px;
            margin-left: 30%;
            color: #000000;
            background: $redColour;
            border-radius: 30px;
            text-transform: uppercase;
            letter-spacing: 1px;
            text-align: center;
        }
    }
}
.cartItemsContainer .smallGoldButtonContainer {
    opacity: 1;
    margin-top: 2%;
    margin-bottom: 4%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .smallGoldButton {
        background: none;
        border: none;
        padding: 0;
        text-decoration: underline;
        cursor: pointer; 
        color: $goldColour;
        font-family: "OS-Regular";
        margin-right: 10%;
        font-size: medium;
    }
}
