@import './../reUsedStyles/importReUsedStyles.scss';

.centreDescription {
    width: 80%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    color: $lightColour;
}
.descriptionContainer {
    @extend .centreWithFlex;
}
.innerContainerOfDescription {
    background-color: $darkColour;
}
.innerContainerOfDescription:nth-child(odd) {
    display: flex;
    justify-content:baseline;
}
.innerContainerOfDescription:nth-child(even) {
    display: flex;
    justify-content: flex-end;
}
.containerOfTextInDescriptionItem {
    width: 50%;
    padding-right: 3vw;
    padding-left: 3vw;
    padding-bottom: 1vh;
    h3 {
        font-family: "OS-Heavy";
        font-size: 180%;
    }
    p {
        font-family: "OS-Regular";
        font-size: 120%;
    }
}
.blankSpace {
    grid-area: "blankSpace"; 
}