@import './../reUsedStyles/importReUsedStyles.scss';

.buy:hover {
    cursor: pointer;
}
.addedToCart {
    color: $lightColour !important;
    font-family: "OS-Heavy" !important;
    text-transform: none !important;
    font-size: larger;
    background-color: transparent !important;
    margin: 0 !important;
}
.buy {
    text-align: center;
}
.editCartButton {
    background-color: $redColour !important;
    height: 10%;
    font-size: 60% !important;
    text-align: center;
}
.contentBox .editCartButton {
    display: flex;
    align-items: center;
    margin-top: 10%;
    transition: 0.5s;
    opacity: 0;
}
.itemCountButtonsContainer {
    opacity: 0;
}
.smallButtonsBelowEditCart {
    opacity: 0;
}
.itemDetailTopContainer:hover .contentBox .smallButtonsBelowEditCart {
    opacity: 1;
    transition: 0.5s;
}
.itemDetailTopContainer:hover .contentBox .itemCountButtonsContainer{
    opacity: 1;
    transition: 0.5s;
}
.contentBox .smallGoldButton {
    color: $goldColour;
    font-size: smaller;
}
.itemDetailTopContainer:hover .contentBox .editCartButton{
    top: 0;
    opacity: 1;
}
.itemCountButtonsContainer {
    @extend .centreWithFlex;
    flex-direction: row;
    .editCartButton {
        @extend .centreWithFlex;
        width: 25%;
        padding: 0 !important;
    }
    .quantityInDetail {
        line-height: 200%;
        width: 50%;
        font-family: "OS-Heavy";
        color: $lightColour;
        background-color: transparent;
    }
}
.itemDetailTopContainer {
    height: 100%;
    .itemCountButtonsContainer {
        margin-bottom: 10%;
        margin-top: 15%;
        width: 60%;
        height: 10%;
        > * {
            text-align: center;
            border: 0;
            border-radius: 40px;
            height: 100%;
            margin: 0% !important;
        }
    }
}
.smallButtonsBelowEditCart {
    display: flex;
    align-items: row;
    flex-wrap: wrap;
    margin-top: 25%;
    height: 10%;
    width: 80%;
    :nth-child(1) {
        width: 50%;
        text-align: start;
    }
    :nth-child(2) {
        width: 50%;
        text-align: end;
    }
    .smallerContainer {
        width: 0%;
    }
    .biggerGoldButton{
        text-align: end;
        width: 100%;
    }
}