@import './../reUsedStyles/importReUsedStyles.scss';

.buy:hover {
    cursor: pointer;
}
.addedToCart {
    color: $lightColour !important;
    font-family: "OS-Heavy" !important;
    text-transform: none !important;
    font-size: larger;
    background-color: transparent !important;
    margin: 0 !important;
}
.smallRemoveButton {
    margin-top: 8% !important;
    background-color: $goldColour !important;
    width: 30%;
    height: 10%;
    padding-left: 10px !important;
    padding-right: 10px !important;
    font-size: 60% !important;
}