@import './../reUsedStyles/importReUsedStyles.scss';

.itemDetailContainer {
    padding-top: 10vh;
    padding-bottom: 20vh;
    .titleInDetail {
        text-align: center;
        font-size: x-large;
    }
}