@import './../reUsedStyles/importReUsedStyles.scss';

.contianerToCentre {
    @extend .centreWithFlex;
}

.itemDetailTopContainer {
    background-color: $darkColour;
    height: 100%;
    width: 80%;
    display: grid;
    grid-template-columns: 70% 30%;
    .bigImageContainer {
        .bigImage {
            object-fit: cover;
            max-width:100%;
            max-height:100%;
        }
    }
}

//Hover effect taken from https://codepen.io/nestedsoftware/pen/eYYVbNB
.itemDetailTopContainer {
    overflow: hidden; /* otherwise header image won't respect rounded corners */
    transition: all .5s ease; /* back to normal */
}
.itemDetailTopContainer:hover {
    transform: translate3D(0,-1px,0) scale(1.03); /* move up slightly and zoom in */
    box-shadow: 8px 28px 50px rgba(39,44,49,.07), 1px 6px 12px rgba(39,44,49,.04);
    transition: all .4s ease; /* zoom in */
    cursor: pointer;
}

//Card taken from https://codepen.io/sam_garcia2/pen/PozpPRy
@import url("https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap");

.cardInDetails {
    position: relative;
    width: 100%;
    height: 100%;
    background: black;
    overflow: hidden;
}
  
.cardInDetails::before {
    content: "";
    position: absolute;
    top: -100%;
    width: 100%;
    height: 100%;
    background: $redColour;
    transform: skewY(390deg);
    transition: 0.5s;
}
  
.itemDetailTopContainer:hover .cardInDetails:before {
    top: -90%;
    transform: skewY(345deg);
}
  
.itemDetailTopContainer:hover .cardInDetails:after {
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 600;
    font-size: 6em;
    color: rgba(0, 0, 0, 0.1);
}
.cardInDetails .contentBox {
    position: relative;
    padding: 10px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}
  
.cardInDetails .contentBox h3 {
    font-family: "OS-Regular";
    color: #E9FFF9;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}
  
.cardInDetails .contentBox .price {
    font-size: 20px;
    font-family: "OS-Regular";
    color: #E9FFF9;
    font-weight: 700;
    letter-spacing: 1px;
 }
  
 .cardInDetails .contentBox .buy {
    font-family: "OS-Regular";
    position: relative;
    bottom: 0px;
    opacity: 0;
    padding: 10px 30px;
    margin-top: 15px;
    color: #000000;
    text-decoration: none;
    background: $redColour;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
}
  
.itemDetailTopContainer:hover .contentBox .buy{
    top: 0;
    opacity: 1;
}
.itemDetailTopContainer:hover {
    border-radius: 25px;
    transition: 0.5s;
}
@media screen and (max-width: 1200px) {
    .itemDetailTopContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: solid;
        border-width: 4px;
        color: $goldColour;
        .titleInDetail {
            margin-top: 10%;
        }
        .bigImageContainer{
            width: 80%;
            margin-top: 2%;

            img {
                height: 100%;
            }
        }
        .contentBox {
            height: 100%;
            .itemCountButtonsContainer {
                height: 70%;
                margin-bottom: 5%;
                margin-top: 10%;
                > * {
                    border-radius: 120px;
                    height: 30px;
                    font-size: larger;
                }
            }
            .smallButtonsBelowEditCart {
                margin-top: 4%;
            }
        }
    }
}
.itemInDetailWrapper {
    position: absolute;
    right: 5%;
    top: 29%;
    padding: 0;
    width: 20%;
    @media screen and (min-width: 1200px) {
        right: 24%;
        top: 28%;
    }
}
.itemInDetailWrapper:hover + .itemDetailTopContainer{
        transform: translate3D(0,-1px,0) scale(1.03); /* move up slightly and zoom in */
        box-shadow: 8px 28px 50px rgba(39,44,49,.07), 1px 6px 12px rgba(39,44,49,.04);
        transition: all .4s ease; /* zoom in */
        cursor: pointer;
}