@import './../reUsedStyles/importReUsedStyles.scss';

.itemListContainer {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
@media screen and (max-width: 1280px) {
    .itemListContainer {
        display: grid;
        grid-template-columns: 50% 50%;
    }
}
@media screen and (max-width: 400px) {
    .itemListContainer {
        display: grid;
        grid-template-columns: 100%;
    }
}