@import './../reUsedStyles/importReUsedStyles.scss';

//The colour of the cart
.cart {
    color: $lightColour;
}

//The size and proportion of the cart
.cartWidgetContainer {
    @extend .centreWithFlex;
    width: 100%;
    height: 100%;
    #cartWidgetButton {
        width: 25%;
        height: 50%;
        background-color: Transparent;
        background-repeat:no-repeat;
        border: none;
        cursor:pointer;
        overflow: hidden; 
        .containerOfButtonAndSpan {
            height: 100%;
            width: 100%;
            position: relative;
        }      
        svg {
            height: 100%;
            width: 100%;
            @extend .defaultImagesWithFlex;
        }
        span {
            background-color: $redColour;
            color: #fff;
            position: absolute;
            right: 0%;
            top: 15%;
            width: 15px;
            height: 15px;
            text-align: center;
            font-size: 12px;
            padding-top: 2px;
            border-radius:100%;
        }
    }
}