@import './../reUsedStyles/importReUsedStyles.scss';
@import './cartWidget.scss';
@import './logo.scss';
@import './searchBar.scss';
@import './menu.scss';
//This is for aligning
.topnav {
     display: grid;
     grid-template-columns: 4% 35% 16% 10% 15% 20%;   
     height: 8em;
}
//This is for the colour in the navbar background
.topnav {
  background: $gradientNavBar;
  .logoContainer{
    display: flex;
    justify-content: baseline;
    align-items: center;
  }
  a:link { text-decoration: none; }
}

