@import './../reUsedStyles/importReUsedStyles.scss';
@import './cartWidget.scss';
@import './logo.scss';
@import './searchBar.scss';
@import './menu.scss';
//This is for aligning
.topnav {
     display: grid;
     grid-template-columns: 4% 35% 16% 10% 15% 20%;   
     height: 8em;
}
//This is for the colour in the navbar background
.topnav {
  background: $gradientNavBar;
  .logoContainer{
    display: flex;
    justify-content: baseline;
    align-items: center;
  }
  a:link { text-decoration: none; }
}
@media screen and (max-width: 812px) {
  .topnav {
    grid-template-columns: 4% 25% 9% 15% 23% 25%;
  }
}
@media screen and (min-width: 812px) and (max-width: 1024px) {
  .topnav {
    grid-template-columns: 4% 30% 7% 20% 20% 20%;
  }
}
@media screen and (min-width: 320px) and (max-width: 420px) {
  .topnav {
    grid-template-columns: 1% 40% 4% 17% 20% 20%;
  }
}
.bigSearchBar {
  @media screen and (min-width: 320px) and (max-width: 420px) {
    grid-template-columns: 1% 40% 4% 27% 0% 30% !important;
  }
}